@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    min-height: 100vh;
  }

  :root {
    /* Colors */
    --color-primary: #f8fafc;
    --color-secondary: #f1f5f9;
    --color-tertiary: #e2e8f0;

    --color-primary-dark: #020618;
    --color-secondary-dark: #1d293d;
    --color-tertiary-dark: #314158;

    --color-select: #eaeaea;

    /* Typography */
    --font-azeret-mono: "Azeret Mono", monospace;
    --font-tiempos-text: "Tiempos Text", serif;
    --font-schibsted-grotesk: "Schibsted Grotesk", sans-serif;

    /* Font sizes */
    --font-size-sm: 0.84rem;
    --font-size-base: 1.14rem;
    --font-size-md: 1.28rem;
    --font-size-lg: 1.68rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.52rem;

    --line-height-lg: 1.5;
    --line-height-sm: 1.35;

    /* Layout */
    --max-width-page: 88rem;
    --max-width-content: 40rem;
  }

  h1 {
    @apply text-2xl font-tiempos-text font-light text-primary-color-dark tracking-tight;
  }
  h2 {
    @apply text-xl font-tiempos-text font-light text-secondary-color-dark tracking-tight;
  }
  h3 {
    @apply text-lg font-schibsted font-medium text-secondary-color-dark tracking-tight;
  }
  p {
    @apply text-base font-schibsted text-secondary-color-dark;
  }
  ::selection {
    background-color: var(--color-select);
    color: var(--color-primary-light);
  }
  ::-moz-selection {
    background-color: var(--color-select);
    color: var(--color-primary-light);
  }
}

@layer utilities {
  .page-container {
    max-width: var(--max-width-page);
    width: 100%;
    margin: 0 auto;
    padding: 4vh 3rem;
  }
  @media (max-width: 640px) {
    .page-container {
      padding: 3vh 2rem;
    }
  }
  @media (max-width: 440px) {
    .page-container {
      padding: 2vh 1rem;
    }
  }

  .content-container {
    max-width: var(--max-width-content);
  }
}
